{% for course in courses %}
    <tr>
        <td>
            <h4 style="display: inline-block">
                {{ course.c_id }}
            </h4>
            <br>
            <button class="btn btn-info btn-lg edit_course" name="{{ course.c_name }}_{{ course.c_id }}">Edit</button>
        </td>
        <td>
            <button class="btn btn-danger remove_course hidden-admin-{{ course.c_id }}" style="display: none" name="{{ course.c_name }}_{{ course.c_id }}">X</button>
            <h4 style="display: inline-block">{{ course.c_name }}</h4>
        </td>
        <td>
            {{ course.price }}
        </td>
        <td>
            <table class="table table-bordered table-striped">
                {% for ingredient in course.ingredients %}
                <tr>
                    <td>
                        <button class="btn btn-danger remove_ingredient_from_course hidden-admin-{{ course.c_id }}" style="display: none" name="{{ course.c_id }}_{{ ingredient.i_id }}">X</button>
                        {{ ingredient.i_name }}
                    </td> 
                    <td class="{% if ingredient.available == "1" %}bg-success{% else %}bg-danger{% endif %}"></td>
                </tr>
                {% endfor %}
            </table>
            <form action="#" class="form-inline hidden-admin-{{ course.c_id }}" style="display: none" autocomplete="off">
                <div class="autocomplete">
                    <input type="text" id="autocomplete_ingredient-{{ course.c_id }}" class="form-control ingredient-input" name="ingredient_autocomplete" placeholder="ingredient">
                </div>
                <input type="button" id="button_autocomplete_ingredient-{{ course.c_id }}" style="display:inline" class="btn btn-success add_ingredient" name="{{ course.c_id }}" value="+">
            </form>
        </td>
    </tr>
{% endfor %}