{% for course in courses %}
    <tr>
        <!-- ID -->
        <td style="width: 12.5%">
            <h5 style="display: inline-block">
                {{ course.c_id }}
            </h5>
            {% if admin %}
                &ensp;
                <button class="btn btn-info edit_course" name="{{ course.c_name }}_{{ course.c_id }}">Edit</button>
                &ensp;
                <button class="btn btn-danger remove_course" name="{{ course.c_name }}_{{ course.c_id }}">Remove</button>
            {% endif %}
        </td>
        <!-- Info -->
        <td style="width: 25%">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td style="width: 15%">
                            <strong>
                                Name:
                            </strong>
                        </td>
                        <td>
                            {% if admin %}
                                <span class="hidden-edit-{{ course.c_id }}">
                                {% endif %}
                                    {{ course.c_name }}
                                {% if admin %}
                                </span>
                                <span class="hidden-default-{{ course.c_id }}" style="display: none">
                                    <form action="#" class="form-inline">
                                        <input type="text" id="course-edit-name_{{ course.c_id }}" class="form-control course-edit-input_{{ course.c_id }} input-sm" placeholder="Course Name" value="{{ course.c_name }}">
                                        &ensp;
                                        <button class="btn btn-info edit_course_name" name="{{ course.c_id }}">Change</button>
                                    </form>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong style="width: 15%">
                                Price:
                            </strong>
                        </td>
                        <td>
                            {% if admin %}
                            <span class="hidden-edit-{{ course.c_id }}">
                                {% endif %}
                                {{ course.price }}
                                {% if admin %}
                            </span>
                            <span class="hidden-default-{{ course.c_id }}" style="display: none">
                                <form action="#" class="form-inline">
                                    <input type="number" id="course-edit-price_{{ course.c_id }}" class="form-control course-edit-input_{{ course.c_id }} input-sm" placeholder="Course Price" value="{{ course.price }}">
                                    &ensp;
                                    <button class="btn btn-info edit_course_price" name="{{ course.c_id }}">Change</button>
                                </form>
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong style="width: 15%">
                                Category:
                            </strong>
                        </td>
                        <td>
                            <span class="hidden-edit-{{ course.c_id }}">
                                {{ categories[course.ca_id].ca_name }}
                            </span>
                            <span class="hidden-default-{{ course.c_id }}" style="display: none">
                                <form action="#" class="form-inline hidden-default-{{ course.c_id }}" style="display: none" autocomplete="off">
                                    <div class="autocomplete">
                                        <input type="text" id="autocomplete-course-edit-category_{{ course.c_id }}" class="form-control course-edit-category-input" name="course_edit_category_autocomplete" placeholder="Category" value="{{ categories[course.ca_id].ca_name }}">
                                    </div>
                                    <input type="button" id="button-autocomplete-course-edit-category_{{ course.c_id }}" style="display:inline" class="btn btn-info edit_course_category" name="{{ course.c_id }}" value="Change">
                                </form>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong style="width: 15%">
                                Description:
                            </strong>
                        </td>
                        <td>
                            <span class="hidden-edit-{{ course.c_id }}">
                                {{ course.info }}
                            </span>
                            <span class="hidden-default-{{ course.c_id }}" style="display: none">
                                <form action="#" class="form-inline">
                                    <input type="text" id="course-edit-description_{{ course.c_id }}" class="form-control course-edit-description_{{ course.c_id }} input-sm" placeholder="Course Description" value="{{ course.info }}">
                                    &ensp;
                                    <button class="btn btn-info edit_course_description" name="{{ course.c_id }}">Change</button>
                                </form>
                            </span>
                        </td>
                    </tr>
                </tbody>
        </table>
        <!-- Ingredients -->
        <td style="width: 31.25%">
            <table class="table table-bordered table-striped">
                {% for ingredient in course.ingredients %}
                <tr>
                    <td style="width: 16.666%">
                        {% if admin %}
                            <button class="btn btn-danger btn-sm remove_ingredient_from_course hidden-default-{{ course.c_id }}" style="display: none" name="{{ course.c_id }}_{{ ingredient.i_id }}">X</button>
                        {% endif %}
                        {{ ingredient.i_name }}
                    </td> 
                    <td style="width: 8.333%" class="{% if ingredient.available == "1" %}bg-success{% else %}bg-danger{% endif %}"></td>
                </tr>
                {% endfor %}
            </table>
            {% if admin %}
                <form action="#" class="form-inline hidden-default-{{ course.c_id }}" style="display: none" autocomplete="off">
                    <div class="autocomplete">
                        <input type="text" id="autocomplete_ingredient-{{ course.c_id }}" class="form-control ingredient-input" name="ingredient_autocomplete" placeholder="Ingredient">
                    </div>
                    <input type="button" id="button_autocomplete_ingredient-{{ course.c_id }}" style="display:inline" class="btn btn-success add_ingredient_to_course" name="{{ course.c_id }}" value="Add">
                </form>
            {% endif %}
        </td>
        <!-- Options -->
        <td style="width: 31.25%">
            <table class="table table-bordered table-striped">
                {% for option in course.options %}
                <tr>
                    <td style="width: 16.666%">
                        {% if admin %}
                            <button class="btn btn-danger btn-sm remove_option_from_course hidden-default-{{ course.c_id }}" style="display: none" name="{{ course.c_id }}_{{ option.o_id }}">X</button>
                        {% endif %}
                        {{ option.o_name }}
                    </td> 
                </tr>
                {% endfor %}
            </table>
            {% if admin %}
                <form action="#" class="form-inline hidden-default-{{ course.c_id }}" style="display: none" autocomplete="off">
                    <div class="autocomplete">
                        <input type="text" id="autocomplete_option-{{ course.c_id }}" class="form-control option-input" name="option_autocomplete" placeholder="Option">
                    </div>
                    <input type="button" id="button_autocomplete_option-{{ course.c_id }}" style="display:inline" class="btn btn-success add_option_to_course" name="{{ course.c_id }}" value="Add">
                </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}