
{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h2>Courses</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Ingredients
            </th>
        </thead>
        <tbody class="course_display">
            {% include "course_display.html" %}
        </tbody>
        {% if admin %}
        <tr>
            <td colspan="4">
                <div class="row justify-content-center">
                    <button class="btn btn-success btn-lg col-4" id="add_course">Add New Course</button>
                </div>
            </td>
        </tr>
        {% endif %} 
    </table>
    <br>
    <h2>Ingredients</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Available
            </th>
            <th>
                Allergenes
            </th>
        </thead>
        <tbody class="ingredient_display">

            {% include "ingredient_display.html" %}

        </tbody>
    </table>
    <h2>Allergenes</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </thead>
        <tbody class="allergene_display">
            
            {% include "allergene_display.html" %}

        </tbody>
    </table>
{% endblock %}