
{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}

    <!-- UNFINISHED FUNCTIONALITY, USE AT YOUR OWN RISK -->
    <span style="display: none">
        <button id="dark-mode" class="btn" style="display: inline; background: #333333; color: white">Dark Mode</button>
        <button id="light-mode" class="btn" style="display: none;">Light Mode</button>
    </span>

    <!-- MAKE TAB -->
    <span class="course_display">
        {% include "course_display.html" %}
    </span>

    <!-- MAKE TAB -->
    <span class="ingredient_display">
        {% include "ingredient_display.html" %}
    </span>

    <!-- MAKE TAB -->
    <span class="allergene_display">
        {% include "allergene_display.html" %}
    </span>

    <!-- MAKE TAB -->
    <span class="category_display">
        {% include "category_display.html" %}
    </span>

    <!-- MAKE TAB -->
    <span class="selection_display">
        {% include "selection_display.html" %}
    </span>

    <!-- MAKE TAB -->
    <span class="selection_category_display">
        {% include "selection_category_display.html" %}
    </span>
{% endblock %}