{% for ingredient in ingredients %}
    <tr>
        <td>
            {{ ingredient.i_id }}
        </td>
        <td>
            <h5 style="display: inline-block">
                {{ ingredient.i_name }}
            </h5>
        </td>
        <td class="{% if ingredient.available == "1" %}bg-success{% else %}bg-danger{% endif %}">
        </td>
        <td>
            <table class="table table-bordered">
                <tbody>
                    {% for allergene in ingredient.allergenes %}
                        <tr>
                            <td>
                                {{ allergene.a_name }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
{% endfor %}